.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.submit{
    display: flex;
    justify-content: flex-end;
}

#confimar{
    margin-right: 10px;
}