<div class="container">
    <h1>Cadastrar Novo Produto</h1>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput required [(ngModel)]="produto.nome" maxlength="50">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Categoria</mat-label>
        <input matInput required [(ngModel)]="produto.categoria" maxlength="50">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="produto.descricao" maxlength="150"></textarea>
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Quantidade</mat-label>
        <input matInput type="number" min="0" class="example-right-align" required [(ngModel)]="produto.quantidade">
    </mat-form-field>
    <div class="submit">
        <div id="confimar">
            <button mat-flat-button color="primary" (click)="adicionarProduto()">Confirmar</button>
        </div>
        <div id="cancelar">
            <button mat-flat-button color="warn" (click)="cancelarOperacao()">Cancelar</button>
        </div>
    </div>
</div>