<div class="container">
    <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput value="{{data.id}}" disabled>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput required [(ngModel)]="novoProduto.nome" value="{{data.nome}}" maxlength="50">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Categoria</mat-label>
        <input matInput required [(ngModel)]="novoProduto.categoria" value="{{data.categoria}}" maxlength="50">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Descricao</mat-label>
        <textarea matInput [(ngModel)]="novoProduto.descricao" value="{{data.descricao}}" maxlength="250"></textarea>
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>Quantidade</mat-label>
        <input matInput required type="number" min="0" class="example-right-align" [(ngModel)]="novoProduto.quantidade" value="{{data.quantidade}}">
    </mat-form-field>
    <div class="submit">
        <button mat-flat-button color="primary" (click)="atualizarProduto()">Confirmar</button>
    </div>
</div>
